<%= form_for [@game, @multiplier], url: game_multiplier_path(@game, @multiplier) do |f| %>

    <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, rows: 2, class: "form-control" %>
    </div>
    
    <div class="form-group">
        <%= f.label :multiplication %>
        <%= f.number_field :multiplication, class: "form-control", :step => "0.001" %>
    </div>
    
    <%= f.submit "Add New Multiplier", class: 'btn btn-primary' %>

<% end %>