<div class="row">
    <div class="col-md-6">
        <h1 align="center"><%= "#{@game.user.username}" + " - " + "#{@game.title}" %></h1>
        <hr>
        <div class="Add Task text-center">
            <%= link_to "Add a New Task", new_game_task_path(@game) %>
            <hr>
            <%= link_to "Add a New Multiplier", new_game_multiplier_path(@game) %>
            <hr>
            <%= link_to "See Multiplier Table", game_multipliers_path(@game) %>
        </div>
        
        <hr>
        
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Day: </th>
                    <th>Total Points: </th>
                    <th>Average Points: </th>
                    <th>Max Points: </th>
                </tr>
                <tr>
                    <td><%= @game.dailies.count %></td>
                    <td><%= number_with_delimiter(@game.dailies.sum(:points), :delimiter => ',') %></td>
                    <td><%= number_with_delimiter(@game.dailies.average(:points).round(2), :delimiter => ',') %></td>
                    <td><%= number_with_delimiter(@game.dailies.maximum(:points).round(0), :delimiter => ',') %></td>
                </tr>
            </thead>
        </table>
        
        <hr>
        
        <h1 align="center">Your current score is: <span id="totalScore"></span></h1>
        
        <div class="panel panel-default">
            <div class="panel-heading well-border">
                <h4="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian" href="#collapseOne">
                        <div align="center">Add Daily Points</div>
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <%= render 'dailies/daily_form' %>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-6 reward-table">
        </br>
        
        <h1 align="center">Add a New Level: <span id="newLevel"></span></h1>
        
        <div class="panel panel-default">
            <div class="panel-heading well-border">
                <h4="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian" href="#collapseTwo">
                        <div align="center">Add Daily Points</div>
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <%= render 'levels/level_form' %>
                </div>
            </div>
        </div>
        
        <table class="table table-striped table-bordered table-hover table-responsive">
            <thead>
                <tr>
                    <th>Level </th>
                    <th>Points: </th>
                </tr>
            </thead>
            <tbody>
                <% @game.levels.each do |level| %>
                    
                    <% if level.points < @game.dailies.sum(:points) %>
                        <tr>
                            <td><%= level.level + " - Achieved" %></td>
                            <td><%= level.points %></td>
                        </tr>
                    <% else %>
                        <tr>
                            <td><%= level.level %></td>
                            <td><%= level.points %></td>
                        </tr>
                    <% end %>
                <% end %>
            </tbody>
        </table>
    </div>
    
</div>
<hr>
<div class="row">
    <% @game.tasks.each do |task| %>
        <div class="col-md-3">
            <div class="well task-well text-center">
                <strong><%= task.name %></strong>
                <hr>
                <strong>Points: </strong><div class=<%= "points#{task.id}" -%>><%= task.points %></div>
                <hr>
                <div class="btn btn-primary testing123" id=<%= "task#{task.id}" -%>>Add Task</div>
            </div>
        </div>
    <% end %>
  
</div>

<div class="row">
    <div class="col-md-12">
        <table id="dailyTable2" class="table table-striped table-hover table-responsive dataTable">
            <thead class="thead-inverse">
                <tr role="row">
                    <th class="sorting">Date</th>
                    <th>Points</th>
                    <th>Multiplier</th>
                </tr>
            </thead>
            <tbody>
                <% @game.dailies.each do |daily| %>
                    <tr>
                        <td><%= daily.date %></td>
                        <td><%= daily.points %></td>
                        <td><%= daily.multiplier.round(1) %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    
</div>
</br>

<div class="row">
    <div class="col-md-12">
        
        <h1 align="center">Multiplication Table</h1>
        <hr>
        <table class="table table-striped table-bordered table-hover table-responsive">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Multiplication</th>
                </tr>
            </thead>
            <tbody>
                <% @game.multipliers.each do |multiplier| %>
                    <tr>
                        <td><%= multiplier.description %></td>
                        <td><%= multiplier.multiplication %></td>
                    </tr>
                <% end %>
            </tbody>
            
        </table>    
        
    </div>
</div>
